<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{address}}
        </td>
        <td>
          {{email}}
        </td>
        <td>
          <a href="/dashboard/deletemember/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>

  </tbody>
</table>
