{{> menu id="dashboard"}}

<section class="ui segment">
  
  {{> analytics}}   
  {{> registrationdetails}} 
  {{> addgoal}}   
  {{> listgoals}}  
  {{> addassessment}} 
  {{> listassessments}}




</section>