{{> welcomemenu id="signup"}}

<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <form class="ui stacked segment form" action="/register" method="POST">
      <h3 class="ui header">Register</h3>
      <div class="two fields">
        <div class="field">
          <label>Name</label>
          <input placeholder="Name" type="text" name="name">
        </div>
        <div class="field">
          <label>Gender</label>
          <select class="ui dropdown" name="gender" placeholder="Gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text" name="email">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password">
      </div>
      <div class="field">
        <label>Address</label>
        <input placeholder="Address" type="text" name="address">
      </div>
      <div class="two fields">
        <div class="field">
          <label>Height</label>
          <div class="ui fluid right labeled input">
            <input name="height" required="" type="number" placeholder="00.00" step="0.01" min="1" max="3">
            <div class="ui basic label">M</div>
          </div>
        </div>
        <div class="field">
          <label>Starting Weight</label>
          <div class="ui fluid right labeled input">
            <input name="startingweight" required="" type="number" placeholder="00.00" step="0.01" min="35" max="250">
            <div class="ui basic label">KG</div>
          </div>
        </div>
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
  </div>
  <div class="column">
<img class="ui image" src="http://www.mpellsolutions.com/wp-content/uploads/2016/07/kozzi-2334.jpg">
  </div>
</div>